{% extends 'base.html.twig' %}

{% block title %}Tof'Box{% endblock %}

{% block body %}
{% if error %}
<div class="error alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}

<h1 class="center h3 mb-3 font-weight-normal">Veuillez vous connecter</h1>

    <form method="post">


        {% if app.user %}
            <div class="mb-3">
                Vous êtes connecté en tant que {{ app.user.username }}, <a href="{{ path('app_logout') }}">se déconnecter ?</a>
            </div>
        {% endif %}





        <div class="form-wrap">
        <p>
            <label for="inputEmail">Email:</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
        </p>
        <p>
            <label for="inputPassword">Mot de passe:</label>
            <input type="password" name="password" id="inputPassword" class="form-control" required>
        </p>

        <input type="hidden" name="_csrf_token"
            value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}
        <p class="center">
            <button class="btn btn-lg btn-primary" type="submit">
                Connexion
            </button>
        </p>

    </form>

    <div class="center">
        <a href="{{ path('app_forgotten_password') }}">Mot de passe oublié ?</a>
    </div>
</div>
{% endblock %}
