{% extends 'base.html.twig' %}

{% block title %}Tof'Box{% endblock %}

{% block body %}

    {# Gestion des catégories #}
    {% include 'category/index.html.twig' %}


<section id="content_photo_cat">

    {# Affichage des photos #}
    <h1 class="center title">Dernières photos ajoutées</h1>
    <div class="photo-wrap">    
    {% for photo in lastsPhotos %}


    <figure class="relative">
        <a class="myBtn" data-photo="{{ photo.id }}" href="">
            <div id="cadre_photo">
                <div class="relative">
                                        <img {# class="photo_view" #} src="{{ asset('img/' ~ photo.path ) |imagine_filter('bg') }}" alt="{{ photo.title }}">
                    <div class="photo_title"><h3>{{ photo.title }}</h3></div>
                </div>
            </div>
        </a>

        <figcaption>
                    <div>
                        <a class="span_vertical_align" href="{{ path('profil', {'id':photo.user.id}) }}">

                            <img {# class="profil_photo" #} src="{{ asset('img/' ~ photo.user.photoProfil) |imagine_filter('photo_profil_bg') }}" alt="{{photo.user.nickname}}">
                            <span>&nbsp;{{ photo.user.nickname }}</span>

                        </a>
                    </div>
                    <div>
                        <span>
                            <i class="far fa-comment"></i> {{ photo.Comments | length }}
                            &nbsp;
                            <i class="far fa-thumbs-up"></i> {{ photo.likeUsers | length }}
                        </span>
                        
                        
                    </div>
        </figcaption>
    </figure>

    {% endfor %}
    </div>

    <h1 class="center title">Les photos les plus populaires</h1>

    <div class="photo-wrap">    
        
        {% for photo in lastsByPop %}
    
    
        <figure class="relative">
            <a class="myBtn" data-photo="{{ photo.id }}" href="">
                <div id="cadre_photo">
                    <div class="relative">
                                            <img src="{{ asset('img/' ~ photo.path ) |imagine_filter('bg') }}" alt="{{ photo.title }}">
                        <div class="photo_title"><h3>{{ photo.title }}</h3></div>
                    </div>
                </div>
            </a>
    
            <figcaption>
                        <div>
                            <a class="span_vertical_align" href="{{ path('profil', {'id':photo.user.id}) }}">
    
                                <img src="{{ asset('img/' ~ photo.user.photoProfil) |imagine_filter('photo_profil_bg') }}" alt="{{photo.user.nickname}}">
                                <span>&nbsp;{{ photo.user.nickname }}</span>
    
                            </a>
                        </div>
                        <div>
                            <span>
                                <i class="far fa-comment"></i> {{ photo.Comments | length }}
                                &nbsp;
                                <i class="far fa-thumbs-up"></i> {{ photo.likeUsers | length }}
                            </span>
                            
                            
                        </div>
            </figcaption>
        </figure>
    
        {% endfor %}
        </div>

    {% if app.user %}
        
    
        <h1 class="center title">Photos de ceux que vous suivez</h1>

        <div class="photo-wrap">
        {% if followPhoto | length == 0 %}
            <p class="center">Vous ne suivez personne pour l'instant.<br>
            Suivez d'autres utilisateurs et vous verrez certaines de leurs photos apparaîtrent ici !</p>
        {% else %}
            {% for photo in followPhoto|slice(0, 4) %}
        
                <figure class="relative">
                    <a class="myBtn" data-photo="{{ photo.id }}" href="">
                        <div id="cadre_photo">
                            <div class="relative">
                                                    <img src="{{ asset('img/' ~ photo.path ) |imagine_filter('bg') }}" alt="{{ photo.title }}">
                                <div class="photo_title"><h3>{{ photo.title }}</h3></div>
                            </div>
                        </div>
                    </a>
            
                    <figcaption>
                                <div>
                                    <a class="span_vertical_align" href="{{ path('profil', {'id':photo.user.id}) }}">
            
                                        <img src="{{ asset('img/' ~ photo.user.photoProfil) |imagine_filter('photo_profil_bg') }}" alt="{{photo.user.nickname}}">
                                        <span>&nbsp;{{ photo.user.nickname }}</span>
            
                                    </a>
                                </div>
                                <div>
                                    <span>
                                        <i class="far fa-comment"></i> {{ photo.Comments | length }}
                                        &nbsp;
                                        <i class="far fa-thumbs-up"></i> {{ photo.likeUsers | length }}
                                    </span>
                                    
                                    
                                </div>
                    </figcaption>
                </figure>
            {% endfor %}
            </div>
        {% endif %}
    {% endif %}

</section>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>

        $(document).ready(function(){
            // On cible le classe présente sur le photo
            $(".myBtn").on("click", function(e){
                // On intercepte l'évènement par défaut du <a>
                // On empêche ainsi le rechargement de la page
                e.preventDefault()

                // On récupère le data-photo qui contient l'ID de la photo ciblée
                let photoid = $(this).data("photo")

                // On prépare la requête Ajax en GET
                $.get(
                    // On définit le chemin de la méthode ciblée
                    // On injecte l'ID de la photo
                    "{{ path('ajax_show') }}",
                    {
                        "photoid" : photoid
                    },

                    // Le réponse, renvoyé par le controller
                    // Qui sera injecté dans le contenu de la fenêtre modale
                    // Puis on affichera la fenêtre modale à l'utilisateur
                    function(data){
                        $("#myModal .modal-body").html(data)
                        $("#myModal").show()
                    }
                )
            })
        })
    
    </script>
{% endblock %}

