
{# Affichage des photos #}
<h1 class="center title">Bienvenue sur Tof'Box</h1>
<div class="photo-wrap">
{% for photo in photos %}

    <figure class="relative">
        <a class="myBtn" data-photo="{{ photo.id }}" href="">

            <div id="cadre_photo">
                    <img class="photo_view" src="{{ asset('img/' ~ photo.path ) }}" alt="{{ photo.title }}">
                    <div class="photo_title"><h3>{{ photo.title }}</h3></div>
            </div>
        </a>

        <figcaption>
                    <div>
                        <a class="span_vertical_align" href="{{ path('profil', {'id':photo.user.id}) }}">

                            <img class="profil_photo" src="{{ asset('img/' ~ photo.user.photoProfil) }}" alt="{{photo.user.nickname}}">
                            <span>&nbsp;{{ photo.user.nickname }}</span>

                        </a>
                    </div>
                    <div>
                        <span>
                            <i class="far fa-comment"></i> {{ photo.Comments | length }}
                            &nbsp;
                            <i class="far fa-thumbs-up"></i> {{ photo.likeUsers | length }}
                        </span>
                    </div>
        </figcaption>
    </figure>

{% endfor %}



</div>
<div class="center pagination">
    {{knp_pagination_render(photos)}}
</div>

