{% extends 'base.html.twig' %}

{% block title %}Tof'Box{% endblock %}

{% block body %}
    <h1 class="center title">Modifier son profil</h1>
<div id="edit-wrap" class="form-wrap">
 

    {{ form_start(registrationForm) }}

        <p>{{ form_row(registrationForm.nickname) }}</p>

        <p>{{ form_row(registrationForm.photo_profil) }}<br>
            <small>(JPG/PNG/GIF, max 1Mo)</small>
        </p>


        <p>{{ form_row(registrationForm.description) }}</p>

        <p class="center">
            <button class="btn">Enregistrer</button>
        </p>

    {{ form_end(registrationForm) }}
</div>
    
{% endblock %}
