{% extends 'base.html.twig' %}

{% block title %}Tof'Box{% endblock %}

{% block body %}
<h1 class="center title">Bienvenue sur Tof'Box</h1>

    <h2 class="center title">Inscription</h2>
<div class="form-wrap">


    {{ form_start(registrationForm) }}

    <div class="form_error">
        {{ form_errors(registrationForm) }}
    </div>

    <p>{{ form_row(registrationForm.email) }}</p>

    <p>{{ form_row(registrationForm.nickname) }}</p>

    <p>{{ form_row(registrationForm.plainPassword.first) }}</p>

    <p>{{ form_row(registrationForm.plainPassword.second) }}</p>

    <p>{{ form_errors(registrationForm.agreeTerms) }}{{ form_widget(registrationForm.agreeTerms) }} <label for="registration_form_agreeTerms">&nbsp;&nbsp;En cochant cette case, je déclare avoir lu et accepter les <a class="blue" target="blank" href="{{ path('app_terms') }}">Conditions d’utilisation</a> et la <a class="blue" target="blank" href="{{ path('app_policy') }}">Politique de confidentialité</a>.</label>
    </p>

    <p class="center">
            <button class="btn">S'inscrire</button>
    </p>


    {{ form_end(registrationForm) }}

    <div class="center">
        <a href="{{path('app_login') }}">Déjà inscrit ?</a>

    </div>
</div>
{% endblock %}
