



<div id="home_cat">
    <div class="center slick slider">
        <div class="item_cat">
            <a href="{{path('home') }}">
                <div class="droit">
                   ACCUEIL
                </div>
            </a>
        </div>
        <div class="item_cat">
            <a href="{{path('home_lasts') }}">
                <div class="droit">
                    LES&nbsp;<i class="fas fa-plus"></i>&nbsp;RECENTES
                </div>
            </a>
        </div>
        <div class="item_cat">
            <a href="{{path('home_pop') }}">
                <div class="droit">
                    LES&nbsp;<i class="fas fa-plus"></i>&nbsp;POPULAIRES
                </div>
            </a>
        </div>
{% for cat in categories %}
    {% if cat.photos|length >= 1 %}

        <div class="item_cat">

            <a href="{{ path('home_cat', {'cat_id' : cat.id}) }}">
                <div class="droit">
                    {{ cat.intitule | upper }}
                </div>
            </a>
        </div>
        
    {% endif %}
{% endfor %}
    </div>
</div>

