{% extends 'base.html.twig' %}

{% block title %}Admin | Tof'Box{% endblock %}

{% block body %}

<h1 class="center">Espace Administrateur</h1>
<div class="center admin-wrap">
    <div>
        <h3>Utilisateurs inscrits: {{ users | length }}</h3>
        <p><a href="{{  path('admin_users') }}">Gérer les utilisateurs</a></p>
    </div>
    <div>
        <h3>Photos publiées: {{ photos | length }}</h3>
    </div>
    <div>
        <h3>Commentaires: {{ comments | length }}</h3>
    </div>
    <div>
        <h3>Catégories: {{ categories | length }} </h3>
        <p><a href="{{ path('admin_categories') }}">Gérer les catégories</a></p>
    </div>

    <!-- TODO : Signalements -->
    <div>
        <h3>Signalement:  </h3> 
        <p><a href="">Gérer les signalements</a></p>
    </div>
</div>

{% endblock %}
