{% extends 'base.html.twig' %}

{% block title %}Admin | Tof'Box{% endblock %}

{% block body %}

<h1 class="center">Espace Administrateur</h1>

<h2 class="center">Informations générales</h2>

<div class="center admin-wrap">
    <div>
        <h3>{{ users | length }} Utilisateurs inscrits</h3>
        <p><a href="{{  path('admin_users') }}">Gérer les utilisateurs</a></p>
    </div>
    <div>
        <h3>{{ photos | length }} Photos publiées</h3>
    </div>
    <div>
        <h3>{{ comments | length }} Commentaires écrits</h3>
    </div>
    <div>
        <h3>{{ categories | length }} Catégories</h3>
        <p><a href="{{ path('admin_categories') }}">Gérer les catégories</a></p>
    </div>

    <!-- TODO : Signalements -->
    <div>
        <h3>{{ reports | length }} Signalements</h3>
        <p><a href="{{ path('admin_reports') }}">Gérer les signalements</a></p>
        {% if activeReports | length == 0 %}
        
        <h4 class="green">Actif: {{ activeReports | length }}</h4>

        {% else %}
        <h4 class="red">Actif: {{ activeReports | length }}</h4>

        {% endif %}

    </div>
</div>

{% endblock %}
