{% extends 'base.html.twig' %}

{% block title %}Admin | Tof'Box{% endblock %}

{% block body %}

<p><a href="{{ path('admin') }}">Retour</a></p>

<h1 class="center title">Espace Administrateur</h1>
<h2 class="center title">Gestion des utilisateurs</h2>

<p class="center">Il est possible de modifier les information d'un utilisateur depuis le profil de cet utilisateur</p>

<div class="responsive_table">
    <table class="center"  id="user_admin">
        <thead>
            <th>Pseudo</th>
            <th>E-mail</th>
            <th>Photos</th>
            <th>Commentaires postés</th>
            <th>J'aimes</th>
            <th>Suit</th>
            <th>Suivi par</th>
            <th>Création du compte</th>
            <th>Dernière connexion</th>
            {# <th>Actions</th> #}
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td><a class="bold" href="{{ path('profil', {'id':user.id }) }}">{{ user.nickname }}</a></td>
                <td>{{ user.email }}</td>
                <td>{{ user.photos |length }}</td>
                <td>{{ user.comments | length }}</td>
                <td>{{ user.likes | length }}</td>
                <td>{{ user.followByUsers | length }}</td>
                <td>{{ user.followedUsers | length }}</td>
                <td>{{ user.dateCreation | format_datetime('short', 'none', locale='fr') }} ( {{ user.dateCreation | timeago }} )
                </td>
                <td>
                    {% if user.lastLogin != null %}
                    {{ user.lastLogin | format_datetime('short', 'none', locale='fr') }} ( {{ user.lastLogin | timeago }} )
                    {% else %}
                    N/A
                    {% endif %}
                
                </td>
            </tr>    
        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}

{% block javascripts %}
{{ parent() }}

<script>
    $(document).ready( function () {
        $('#user_admin').DataTable({
            "language": {
                "sEmptyTable":     "Aucune donnée disponible dans le tableau",
                "sInfo":           "Affichage de l'élément _START_ à _END_ sur _TOTAL_ éléments",
                "sInfoEmpty":      "Affichage de l'élément 0 à 0 sur 0 élément",
                "sInfoFiltered":   "(filtré à partir de _MAX_ éléments au total)",
                "sInfoPostFix":    "",
                "sInfoThousands":  ",",
                "sLengthMenu":     "Afficher _MENU_ éléments",
                "sLoadingRecords": "Chargement...",
                "sProcessing":     "Traitement...",
                "sSearch":         "Rechercher :",
                "sZeroRecords":    "Aucun élément correspondant trouvé",
                "oPaginate": {
                    "sFirst":    "Premier",
                    "sLast":     "Dernier",
                    "sNext":     "Suivant",
                    "sPrevious": "Précédent"
                },
                "oAria": {
                    "sSortAscending":  ": activer pour trier la colonne par ordre croissant",
                    "sSortDescending": ": activer pour trier la colonne par ordre décroissant"
                },
                "select": {
                        "rows": {
                            "_": "%d lignes sélectionnées",
                            "0": "Aucune ligne sélectionnée",
                            "1": "1 ligne sélectionnée"
                        } 
                }
            }
        });
    } );
</script>
{% endblock %} 