{% extends 'base.html.twig' %}

{% block title %}Ajout de Photo{% endblock %}

{% block body %}

   

        {% if 'photo/add' in app.request.uri %}
            <h1 class="center">Ajouter une photo</h1>

        {% else %}
            <h1 class="center">Editer une photo</h1>
        {% endif %}

        {% if 'photo/edit' in app.request.uri %}
        <div class="center">
            <img id="photo-edit-view" src="{{ asset('img/' ~ photo.path ) }}">
        </div>

        {% endif %}
        <div id="photo-edit-wrap" class="form-wrap">
        {{ form_start(form) }}


        <p id='title'>{{ form_row(form.title) }}</p>
        

        {% if 'photo/add' in app.request.uri %}
            <p>{{ form_row(form.photo) }}</p>
        {% endif %}

        <p>{{ form_row(form.description) }}
        </p>


        <p class="category_form">
            {% for i in form.categories %}
                
                {{form_widget(i) }}&nbsp;{{form_label(i) }}<br>
            {% endfor %}    
            {# {{ form_row(form.categories) }} #}
        
        </p>

        <p class="center">
            <button class="btn">Valider</button>
        </p> 
        
    {{ form_end(form) }}

    </div>
 
{% endblock %}