{% extends 'base.html.twig' %}

{% block title %}Hello PhotoController!{% endblock %}

{% block body %}



    <h1>Liste des photos</h1>

    <div class="photo-wrap">
        {% for photo in photos %}
        <figure>
            <img class="photo_view" src="{{ asset('img/' ~ photo.path ) }}" alt="{{ photo.title }}">
            <figcaption><div>
                            <a  href="{{ path('profil', {'id':photo.user.id}) }}">

                                    <img class="profil_photo" src="{{ asset('img/' ~ photo.user.photoProfil) }}" alt="{{photo.user.nickname}}">
                                    &nbsp;{{ photo.user.nickname }}

                            </a>
                        </div>
                        <div>
                            {% if app.user %}
                                <a href="{{ path('add_follow', {'id':app.user.id, 'id_follow':photo.user.id}) }}">Follow</a>
                            {% else %}
                                <a href="{{ path('app_login') }}">Follow</a>
                            {% endif %}
                            Nb Likes: {{ photo.nbLike }}
                        </div>
            </figcaption>
        </figure>

        {% endfor %}


    </div>
{% endblock %}
