{% extends 'base.html.twig' %}

{% block title %}Hello ChatController!{% endblock %}

{% block body %}

<h1>Démarrer une conversation entre {{currentUser.nickname }} & {{ user2.nickname }}</h1>

<form action="{{ path('chat_add_message', {'id':user2.id}) }}", method="POST">
    <textarea name="text" id="text" cols="30" rows="10"></textarea>
    <input type="submit" value="Envoyer">
</form>


{{ dump(lines) }}


    
    {% for line in lines %}

        <div class="line">

            {% set foo = line|split("|") %}
            

        </div>

    {% endfor %}


{# 
{{ dump(currentUser) }}

{{ dump(user2)}}
 #}


{% endblock %}
