{% extends 'base.html.twig' %}

{% block body %}


<div class="user-wrap">

    <h1>{{ user.nickname }} 
        {% if app.user == user or is_granted('ROLE_ADMIN')%}
            <a href="{{ path('user_edit', {'id':user.id}) }}"><i class="fas fa-user-edit"></i></a>
        {% endif %}
    </h1> 
    

    <div class="user_action" >
        <div class="actionzone">
            {% include "user/ajaxFollow.html.twig" %}

            {% if app.user == user %}
            <p><a class="action" href="{{ path('retour_form', {'id':user.id}) }}">Retour sur expérience</a></p> 
            <p><a class="action" id="suggestCat" href="" >Suggérer des catégories</p></a>
 
            {% endif %}
            {# TODO : Chat - Conversation 
            <p><a class="action" href="{{ path('chat', {'id': user.id} ) }}">Démarrer une conversation</a></p>
            #}
        </div>

        {% if app.user == user or is_granted('ROLE_ADMIN') %}
            <fieldset class="redzone">
                <legend class="red bold">&nbsp;Danger Zone&nbsp;</legend>
                <p><a href="{{ path('app_change_email', {'id':user.id}) }}"><i class="far fa-envelope"></i> Changer son e-mail</a></p>
                <p><a href="{{ path('app_change_password', {'id':user.id}) }}"><i class="fas fa-key"></i> Changer son mot de passe</a></p>
                <p><a class="myDelUserBtn" data-user='{{ user.id }}' href=""><i class="fas fa-user-times"></i> Supprimer son compte</a></p>
            </fieldset>
        {% endif %}
    </div>

    <figure>
        
    <img class="profil_user" src="{{ asset('img/' ~ user.photoProfil ) }}" alt="">
    </figure>

    {% if app.user == user or is_granted('ROLE_ADMIN') %}
    <p>Votre e-mail: {{ user.email }}</p>    
    {% endif %}

    <p>Inscrit depuis le {{ user.dateCreation | format_datetime('long', 'none', locale='fr') }} </p>

    {% if user.description != null %}
    <p>{{ user.description | nl2br }}</p>
    {% elseif app.user == user %}
    <p>Vous n'avez pas encore de description</p>
    {% else %}
    <p>L'utilisateur n'as pas encore de description</p>
    {% endif %}


    <h2>Photos: {{ user.photos | length }} </h2> 

    {% if app.user == user or is_granted('ROLE_ADMIN') %}
        <h3><a href="{{ path('add_photo') }}">{#  <i class="far fa-image fa-2x"></i> #} Ajouter une photo</a></h3>
    {% endif %}
</div>
    <div class="photo-wrap">
        {% if user.photos | length >= 1 %}
             {% for photo in user.photos %}


             <figure class="relative">
                <a class="myBtn" data-photo="{{ photo.id }}" href="">
        
                    <div id="cadre_photo">
                            <img class="photo_view" src="{{ asset('img/' ~ photo.path ) }}" alt="{{ photo.title }}">
                            <div class="photo_title"><h3>{{ photo.title }}</h3></div>
                    </div>
                </a>
        
                <figcaption>
                            <div>
                                <a class="span_vertical_align" href="{{ path('profil', {'id':photo.user.id}) }}">
        
                                    <img class="profil_photo" src="{{ asset('img/' ~ photo.user.photoProfil) }}" alt="{{photo.user.nickname}}">
                                    <span>&nbsp;{{ photo.user.nickname }}</span>
        
                                </a>
                            </div>
                            <div>
                                <span>
                                    <i class="far fa-comment"></i> {{ photo.Comments | length }}
                                    &nbsp;
                                    <i class="far fa-thumbs-up"></i> {{ photo.likeUsers | length }}
                                </span>
                                
                                
                            </div>
                </figcaption>
            </figure>

            {% endfor %}
        {% else %}
            {% if app.user == user %}
            <div>
                <p>Vous n'avez publié aucune photo</p>
            </div>
            {% else %}
            <div>
                <p>L'utilisateur n'a publié aucune photo</p>
            </div>
            {% endif %}

        {% endif %}    
           
    </div>


    <div class="user-wrap">

    <section class="profil_section">

        <article>
           
            {% if app.user == user %}
                <h2>Vous suivez: {{ user.followByUsers | length }}</h2>

                <div class="follow">
                    {% for followBy in user.followByUsers %}
                        <p><a href="{{ path('profil', {'id':followBy.followedUsers.id }) }}"><img class="profil_photo" src="{{ asset('img/' ~ followBy.followedUsers.photoProfil ) }}" alt="">&nbsp;{{ followBy.followedUsers.nickname }}</a></p>
                    {% endfor %} 
                </div>
            {% else %}
                <h2>{{ user.nickname }} suit {{ user.followByUsers | length }} utilisateurs</h2>
            {% endif %}

        </article>
        <article id="followBy">
            
            {% if app.user == user %}
                <h2>Vous êtes suivis par: {{ user.followedUsers | length }}</h2>
                <div class="follow" id="followList">
                    {% for followBy in user.followedUsers %}
                        <p id="{{ followBy.followByUsers.id }}"><a href="{{ path('profil', {'id':followBy.followByUsers.id }) }}"><img class="profil_photo" src="{{ asset('img/' ~ followBy.followByUsers.photoProfil ) }}" alt="">&nbsp;{{ followBy.followByUsers.nickname }}</a></p>
                    {% endfor %}
                </div>
            {% else %}
                <h2>{{ user.nickname }} est suivi par <span id="followNb">{{ user.followedUsers | length }} utilisateurs</span></h2>
            {% endif %}


        </article>
    </section>



</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}

<script>

    $(document).ready(function(){


    // Ajax ShowOnePhoto
        // Get the button that opens the modal
        $(".myBtn").on("click", function(e){
            e.preventDefault()
            
            let photoid = $(this).data("photo")
            $.get(
                "{{ path('ajax_show') }}",
                {
                    "photoid" : photoid
                },
                function(data){
                    $("#myModal .modal-body").html(data)
                }
            )
        })

        // Ajax DeleteOnePhoto
        $(".myDelBtn").on("click", function(e){
            e.preventDefault()

            let photoid = $(this).data("photo")
            $.get(
                "{{ path('ajax_del') }}",
                {
                    "photoid": photoid
                },
                function(data){
                    
                    $("#myModal .modal-body").html(data)
                }
            )
        })

        // Ajax DeleteOneUser
        $(".myDelUserBtn").on("click", function(e){
            e.preventDefault()

            let userId = $(this).data("user")
            $.get(
                "{{ path('delete_profil_ajax') }}",
                {
                    "userId": userId
                },
                function(data){
                    
                    $("#myModal .modal-body").html(data)
                }
            )
        })


        // Ajax Follow Switch
        $('#follow').on('click', function(e){
            e.preventDefault()

            let userId = $(this).data("user")

            $.post(
                "{{ path('follow') }}",
                {
                    "userId" : userId
                },
                function(data){
                    if(data.isFollow == true){
                        $("#followModal").addClass('unfollow')
                        $("#followModal").html('<i class="fas fa-eye"></i>&nbsp;Suivi')
                        $("#follow").addClass('unfollow')
                        $("#follow").html('<i class="fas fa-eye"></i>&nbsp;Suivi')
                        $("#followNb").html(data.followNb)
                        $("#followList").append('<p id="'+data.user.id+'"><a href="/user/'+ data.user.id+'"><img class="profil_photo" src="/img/'+data.user.photoProfil+'" alt="">&nbsp;'+ data.user.nickname +'</a></p>')
                    } else {
                        $("#followModal").removeClass('unfollow')
                        $("#followModal").html('<i class="far fa-eye"></i>&nbsp;Suivre')
                        $("#follow").removeClass('unfollow')
                        $("#follow").html('<i class="far fa-eye"></i>&nbsp;Suivre')
                        $("#followNb").html(data.followNb)
                        $("p#"+data.user.id+"").remove()
                    }
                }
            )
        })

        $('#suggestCat').on('click', function(e){
            e.preventDefault()

            modal2.style.display = "block"
            // When the modal is shown, we want a fixed body
            document.body.style.position = 'fixed';
            document.body.style.top = `-${window.scrollY}px`;
            $("body").css('padding-right', '1em')
            $("body").css('width','100%')

            $.post(
                "{{ path('suggest_cat') }}",
                function(data){
                    $("#myModal2 .modal-body2").html(data)

                }
            )

        })

    })
</script>
{% endblock %}