{% extends 'base.html.twig' %}

{% block body %}


<div class="user-wrap">

    <h1>{{ user.nickname }} 
        {% if app.user == user or is_granted('ROLE_ADMIN')%}
            <a href="{{ path('user_edit', {'id':user.id}) }}"><i class="fas fa-user-edit"></i></a>
        {% endif %}
    </h1> 
    

    <div class="user_action">
            <p id="followAjax">{% include "user/ajaxFollow.html.twig" %}</p>
            <p><a class="action" href="{{ path('chat', {'id': user.id} ) }}">Démarrer une conversation</a>
    </div>
        {# TODO : Chat - Conversation #}


    <figure>
        
    <img class="profil_user" src="{{ asset('img/' ~ user.photoProfil ) }}" alt="">
    </figure>

    {% if app.user == user or is_granted('ROLE_ADMIN') %}
    <p>Votre e-mail: {{ user.email }}</p>    
    {% endif %}

    <p>Inscrit depuis le {{ user.dateCreation | format_datetime('long', 'none', locale='fr') }} </p>

    {% if user.description != null %}
    <p>{{ user.description | nl2br }}</p>
    {% elseif app.user == user %}
    <p>Vous n'avez pas encore de description</p>
    {% else %}
    <p>L'utilisateur n'as pas encore de description</p>
    {% endif %}


    <h2>Photos: {{ user.photos | length }} </h2> 

    {% if app.user == user or is_granted('ROLE_ADMIN') %}
        <h3><a href="{{ path('add_photo') }}">{#  <i class="far fa-image fa-2x"></i> #} Ajouter une photo</a></h3>
    {% endif %}
</div>
    <div class="photo-wrap">
        {% if user.photos | length >= 1 %}
             {% for photo in user.photos %}

            <figure class="relative">
                <a class="myBtn" data-photo="{{ photo.id }}" href="">
                    <img class="photo_view" src="{{ asset('img/' ~ photo.path ) }}" alt="{{ photo.title }}">
                </a>
                {% if app.user == user or is_granted('ROLE_ADMIN') %}
                    {# EditButton #}
                    <div class="edit_position">
                        <a href="{{ path('edit_photo', {'id':photo.id}) }}"><i class=" fas fa-pen-square fa-2x"></i></a>
                    </div>

                    {# Modal Supr#}
                    <div class="del-position">
                        <a class="myDelBtn" data-photo="{{ photo.id}}" href=""><i class="fas fa-trash-alt fa-2x"></i></a>
                    </div>
                {% endif %}

            <figcaption> <p>{{ photo.title }}</p></figcaption>
            </figure>

            {% endfor %}
        {% else %}
            {% if app.user == user %}
            <div>
                <p>Vous n'avez publié aucune photo</p>
            </div>
            {% else %}
            <div>
                <p>L'utilisateur n'a publié aucune photo</p>
            </div>
            {% endif %}

        {% endif %}    
           
    </div>


    <div class="user-wrap">

    <section class="profil_section">

        <article>
           
            {% if app.user == user %}
                <h2>Vous suivez: {{ user.followByUsers | length }}</h2>
            {% else %}
                <h2>{{ user.nickname }} suit: {{ user.followByUsers | length }}</h2>
            {% endif %}
             <div class="follow">
                {% for followBy in user.followByUsers %}
                    <p><a href="{{ path('profil', {'id':followBy.followedUsers.id }) }}"><img class="profil_photo" src="{{ asset('img/' ~ followBy.followedUsers.photoProfil ) }}" alt="">&nbsp;{{ followBy.followedUsers.nickname }}</a></p>
                {% endfor %} 
            </div>
        </article>
        <article id="followBy">
            
            {% if app.user == user %}
                <h2>Vous êtes suivis par: {{ user.followedUsers | length }}</h2>
            {% else %}
                <h2>{{ user.nickname }} est suivi par: <span id="followNb">{{ user.followedUsers | length }}</span></h2>
            {% endif %}
            <div class="follow" id="followList">
                {% for followBy in user.followedUsers %}
                    <p id="{{ followBy.followByUsers.id }}"><a href="{{ path('profil', {'id':followBy.followByUsers.id }) }}"><img class="profil_photo" src="{{ asset('img/' ~ followBy.followByUsers.photoProfil ) }}" alt="">&nbsp;{{ followBy.followByUsers.nickname }}</a></p>
                {% endfor %}
            </div>

        </article>
    </section>


    {% if app.user == user or is_granted('ROLE_ADMIN') %}
        <h3>Danger Zone</h3>
        <div class="redzone">
            <p><a href="{{ path('app_change_email', {'id':user.id}) }}"><i class="far fa-envelope"></i> Changer son e-mail</a></p>
            <p><a href="{{ path('app_change_password', {'id':user.id}) }}"><i class="fas fa-key"></i> Changer son mot de passe</a></p>
            <p><a class="myDelUserBtn" data-user='{{ user.id }}' href=""><i class="fas fa-user-times"></i> Supprimer son compte</a></p>

        </div>
    {% endif %}


</div>

{% endblock %}

{% block javascripts %}
{{ parent() }}

<script>

    $(document).ready(function(){


    // Ajax ShowOnePhoto
        // Get the button that opens the modal
        $(".myBtn").on("click", function(e){
            e.preventDefault()
            
            let photoid = $(this).data("photo")
            $.get(
                "{{ path('ajax_show') }}",
                {
                    "photoid" : photoid
                },
                function(data){
                    $("#myModal .modal-body").html(data)
                }
            )
        })

        // Ajax DeleteOnePhoto
        $(".myDelBtn").on("click", function(e){
            e.preventDefault()

            let photoid = $(this).data("photo")
            $.get(
                "{{ path('ajax_del') }}",
                {
                    "photoid": photoid
                },
                function(data){
                    
                    $("#myModal .modal-body").html(data)
                }
            )
        })

        // Ajax DeleteOneUser
        $(".myDelUserBtn").on("click", function(e){
            e.preventDefault()

            let userId = $(this).data("user")
            $.get(
                "{{ path('delete_profil_ajax') }}",
                {
                    "userId": userId
                },
                function(data){
                    
                    $("#myModal .modal-body").html(data)
                }
            )
        })


        // Ajax Follow Switch
        $('#follow').on('click', function(e){
            e.preventDefault()

            let userId = $(this).data("user")

            $.post(
                "{{ path('follow') }}",
                {
                    "userId" : userId
                },
                function(data){
                    if(data.isFollow == true){
                        $("#followModal").addClass('unfollow')
                        $("#followModal").html('<i class="fas fa-eye"></i>&nbsp;Suivi')
                        $("#follow").addClass('unfollow')
                        $("#follow").html('<i class="fas fa-eye"></i>&nbsp;Suivi')
                        $("#followNb").html(data.followNb)
                        $("#followList").append('<p id="'+data.user.id+'"><a href="/user/'+ data.user.id+'"><img class="profil_photo" src="/img/'+data.user.photoProfil+'" alt="">&nbsp;'+ data.user.nickname +'</a></p>')
                    } else {
                        $("#followModal").removeClass('unfollow')
                        $("#followModal").html('<i class="far fa-eye"></i>&nbsp;Suivre')
                        $("#follow").removeClass('unfollow')
                        $("#follow").html('<i class="far fa-eye"></i>&nbsp;Suivre')
                        $("#followNb").html(data.followNb)
                        $("p#"+data.user.id+"").remove()
                    }
                }
            )
})

    })
</script>
{% endblock %}